#gameboard {
    width: 800px;
    height: 800px;
    /* background-color: black; */
    display :flex;
    flex-wrap: wrap;
}
.square {
    height: 100px;
    width: 100px;
    border: 2px rgb(60,60,42) solid;
    box-sizing: border-box;
    position: relative;
}
.square svg {
    height: 75px;
    width: 75px;
    margin: 10px;
    position: relative;
    z-index: -1;
}
path {
    position: relative;
    z-index: -10;
}
.piece {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Relevant so the PIECE is the primary visibile part */
    position: relative;
    z-index: 10;
}
.beige {
    background-color: rgb(110,100,98);
}
.brown {
    background-color: brown;
}
.black {
    /* SVG requires "fill" instead of background-color */
    fill: black
}
.white {
    fill: white;
}